@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */

/* html {
    scroll-behavior: smooth;
}

body {
    @apply bg-zinc-900 text-zinc-50 h-[200vh]
} */


@font-face {
    font-family: 'Japanese 3017'; /* Nombre de la fuente */
    src: url('../public/fonts/Japanese%203017.ttf') format('truetype'); /* Ruta de la fuente */
    font-weight: normal; /* Ajusta según sea necesario */
    font-style: normal; /* Ajusta según sea necesario */
}


body {
    font-family: 'Japanese 3017', sans-serif; /* Fuente principal */
}

/* Ejemplo de uso en un componente */
h1 {
    font-family: 'Japanese 3017', sans-serif; /* Títulos con la fuente */
    font-size: 2rem;
}

